html {
  font-size: 62.5%;
  font-family: "Metrophobic", sans-serif;
  width: 100vw;
  overflow-x: hidden; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

ul {
  list-style-type: none; }

a, p, span, div {
  text-decoration: none;
  color: black;
  font-size: 1.8rem; }

input, button {
  outline: none;
  border: none;
  font-family: "Metrophobic", sans-serif; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

h1 {
  font-size: 3rem; }

h2 {
  font-size: 2.5rem; }

h3 {
  font-size: 2rem; }

.header {
  width: 100%;
  height: 70px;
  background-color: #FF9211;
  padding: 0 10%;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .header__h1 {
    color: white;
    font-family: "Righteous", cursive;
    font-weight: 200; }
  .header__nav {
    width: 220px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .header__nav svg {
      font-size: 2rem; }
    .header__nav a {
      width: 9rem;
      display: flex;
      justify-content: space-between;
      padding-left: .4rem; }
  @media (max-width: 600px) {
    .header {
      padding: 0 5%; }
      .header__h1 {
        font-size: 2.7rem; }
      .header__nav {
        width: 160px; }
        .header__nav svg {
          font-size: 1.6rem; }
        .header__nav a {
          width: 7.5rem;
          font-size: 1.5rem; } }

.products {
  min-height: calc(100vh - 110px);
  padding: 30px 0; }
  .products__search {
    border-radius: 10px;
    border: 1px solid black;
    padding: 1rem;
    display: block;
    margin: 0 auto 60px;
    transition: border-color .2s ease; }
    .products__search:focus {
      border-color: #FF9211; }
  .products__products-list {
    width: 80%;
    padding: 0 5%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap; }
    .products__products-list .product {
      display: flex;
      flex-direction: column;
      margin: 2.5rem 2rem; }
      .products__products-list .product__image {
        width: 16rem;
        height: 20rem;
        object-fit: cover;
        border-radius: 10px;
        border: 1px solid #2C2C2C; }
      .products__products-list .product__price {
        font-family: "Expletus Sans", cursive;
        font-size: 2.5rem;
        border-bottom: 1px solid #FF9211; }
      .products__products-list .product__name {
        color: #313131; }

.details {
  width: 80%;
  min-height: calc(100vh - 110px);
  margin: 0 auto;
  padding: 40px 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly; }
  .details__image {
    width: 350px;
    height: 450px;
    border: 1px solid #2C2C2C;
    border-radius: 10px;
    object-fit: cover; }
  .details__info {
    height: 500px;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-direction: column; }
  .details__price {
    font-size: 3.5rem;
    font-family: "Expletus Sans", cursive;
    width: 100%;
    border-bottom: 1px solid #FF9211; }
  .details__description {
    display: flex;
    margin-top: -20px; }
  .details__brand {
    padding-right: 15px;
    position: relative;
    color: #313131; }
    .details__brand::after {
      content: '';
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 1px;
      height: 180%;
      background-color: black; }
  .details__name {
    padding-left: 15px; }
  .details__sizes {
    display: flex;
    flex-direction: column;
    width: 100%; }
    .details__sizes span {
      padding-bottom: 10px;
      color: #636363; }
    .details__sizes .sizes-container {
      width: 100%;
      display: flex; }
      .details__sizes .sizes-container__size {
        background-color: #2b2b2b;
        margin-right: 15px;
        color: white;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        font-size: 2.2rem;
        cursor: pointer;
        transition: background-color .2s ease; }
        .details__sizes .sizes-container__size--active {
          background-color: #FF9211; }
  .details__quantity {
    display: flex;
    flex-direction: column;
    width: 100%; }
    .details__quantity span {
      color: #636363;
      padding-bottom: 10px; }
    .details__quantity .quantity-container {
      display: flex; }
      .details__quantity .quantity-container__input {
        border: 1px solid black;
        padding: 5px;
        border-radius: 10px;
        font-size: 2.2rem;
        text-align: center;
        background-color: #ececec;
        height: 50px;
        width: 65px;
        margin-right: 10px; }
      .details__quantity .quantity-container__buttons {
        display: flex;
        flex-direction: column;
        justify-content: space-between; }
      .details__quantity .quantity-container__add, .details__quantity .quantity-container__truncate {
        width: 30px;
        height: 22px;
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        color: white;
        cursor: pointer;
        font-size: 2rem; }
      .details__quantity .quantity-container__truncate {
        color: black;
        border: 1px solid black;
        background-color: white; }
  .details__add {
    width: 200px;
    height: 60px;
    background-color: #FF9211;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer; }
    .details__add svg {
      color: black;
      font-size: 2.7rem; }
    .details__add span {
      color: white;
      font-size: 2.5rem; }
  @media (min-width: 1440px) {
    .details {
      width: 60%; }
    .details__image {
      width: 475px;
      height: 575px; }
    .details__info {
      height: 600px; }
    .details__description {
      display: flex;
      margin-top: -40px; } }
  @media (max-width: 900px) {
    .details {
      width: 100%; } }
  @media (max-width: 768px) {
    .details {
      flex-direction: column; }
    .details__add {
      margin: 0 auto; } }
  @media (max-width: 380px) {
    .details__image {
      width: 230px;
      height: 350px; } }
  @media (orientation: portrait) {
    .details {
      flex-direction: column; }
    .details__add {
      margin: 0 auto; } }

.cart {
  width: 80%;
  min-height: calc(100vh - 110px);
  margin: 0 auto;
  padding: 40px 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative; }
  .cart__product {
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0; }
  .cart__image {
    width: 160px;
    height: 250px;
    border: 1px solid #2C2C2C;
    border-radius: 10px;
    object-fit: cover; }
  .cart__info {
    height: 250px;
    width: 200px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column; }
  .cart__price {
    font-size: 2.5rem;
    font-family: "Expletus Sans", cursive;
    width: 100%;
    border-bottom: 1px solid #FF9211; }
  .cart__description {
    display: flex;
    margin-top: -10px;
    width: fit-content; }
  .cart__brand {
    padding-right: 15px;
    position: relative;
    color: #313131;
    display: flex;
    align-items: center; }
    .cart__brand::after {
      content: '';
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 1px;
      height: 40px;
      background-color: black; }
  .cart__name {
    padding-left: 15px; }
  .cart__size {
    background-color: #FF9211;
    color: white;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-size: 1.9rem; }
  .cart__quantity {
    color: #636363; }
    .cart__quantity span {
      color: black; }
  .cart__buttons {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .cart__add {
    width: 60%;
    height: 40px;
    background-color: #FF9211;
    border-radius: 10px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer; }
  .cart__remove {
    width: 35%;
    height: 40px;
    background-color: #d60e0e;
    border-radius: 10px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer; }
  .cart__summary {
    position: fixed;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
    width: 180px;
    height: 230px;
    border: 1px solid #FF9211;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column; }
  .cart__numbers {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column; }
  .cart__total-sum, .cart__total-quantity {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #636363; }
    .cart__total-sum span, .cart__total-quantity span {
      padding-top: 5px;
      font-size: 2.4rem;
      font-family: "Expletus Sans", cursive; }
  .cart__buy {
    width: 100%;
    height: 50px;
    background-color: #FF9211;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    font-size: 2.5rem;
    border-radius: 0 0 10px 10px;
    cursor: pointer; }
  @media (min-width: 1440px) {
    .cart {
      width: 50%; }
    .cart__summary {
      right: 25%; } }
  @media (max-width: 768px) {
    .cart {
      flex-direction: column; }
    .cart__summary {
      position: static;
      transform: none;
      margin-top: 50px; } }
  @media (max-width: 500px) {
    .cart {
      width: 100%; }
    .cart__product {
      flex-direction: column;
      padding: 40px 0;
      border-bottom: 1px solid #4d4d4d;
      width: 300px; }
    .cart__info {
      padding: 10px 0;
      margin: 15px 0; }
    .cart__description {
      margin-top: -5px; } }

.register, .login {
  min-height: calc(100vh - 110px);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column; }
  .register__form, .login__form {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column; }
    .register__form div:not(:last-child), .login__form div:not(:last-child) {
      display: flex;
      align-items: flex-start;
      justify-content: space-evenly;
      flex-direction: column; }
      .register__form div:not(:last-child) label, .login__form div:not(:last-child) label {
        padding-bottom: 5px;
        color: #636363; }
      .register__form div:not(:last-child) input, .login__form div:not(:last-child) input {
        border: 1px solid black;
        padding: 5px 8px;
        border-radius: 7px;
        font-size: 1.9rem;
        transition: border-color .2s ease; }
        .register__form div:not(:last-child) input:focus, .login__form div:not(:last-child) input:focus {
          border-color: #FF9211; }
  .register__buttons, .login__buttons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column; }
  .register__submit, .login__submit {
    cursor: pointer;
    margin-top: 15px;
    padding: 10px 25px;
    background-color: #FF9211;
    border-radius: 10px;
    font-size: 2.2rem;
    color: white; }
  .register__login, .login__register {
    margin-top: 15px;
    padding: 10px 25px;
    background-color: #bbbbbb;
    border-radius: 10px; }
  @media (min-width: 1440px) {
    .register__title {
      font-size: 3rem; }
    .register__form, .login__form {
      height: 650px; }
      .register__form label, .login__form label {
        font-size: 2.2rem; }
    .register__submit, .login__submit {
      font-size: 2.5rem; }
    .register__login, .login__register {
      font-size: 2rem; } }

.status {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
  height: 100px;
  background-color: #FF9211;
  font-size: 2.4rem;
  padding: 15px;
  color: white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center; }

.footer {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  font-size: 1.5rem; }
