* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  font-family: "Metrophobic", sans-serif; }

ul {
  list-style-type: none; }

a, p, span {
  text-decoration: none;
  color: black;
  font-size: 1.8rem; }

input {
  outline: none;
  border: none;
  font-family: "Metrophobic", sans-serif; }

h1 {
  font-size: 3rem; }

h2 {
  font-size: 2.5rem; }

h3 {
  font-size: 2rem; }

.header {
  width: 100%;
  height: 70px;
  background-color: #FF9211;
  padding: 0 10%;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .header__h1 {
    color: white;
    font-family: "Righteous", cursive;
    font-weight: 200; }
  .header__nav {
    width: 220px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .header__nav svg {
      font-size: 2rem; }
    .header__nav a {
      width: 9rem;
      display: flex;
      justify-content: space-between;
      padding-left: .4rem; }
  @media (max-width: 600px) {
    .header {
      padding: 0 5%; }
      .header__h1 {
        font-size: 2.7rem; }
      .header__nav {
        width: 160px; }
        .header__nav svg {
          font-size: 1.6rem; }
        .header__nav a {
          width: 7.5rem;
          font-size: 1.5rem; } }

.products__search {
  border-radius: 10px;
  border: 1px solid black;
  padding: 1rem;
  display: block;
  margin: 30px auto 60px;
  transition: border-color .2s ease; }
  .products__search:focus {
    border-color: #FF9211; }

.products__products-list {
  width: 80%;
  padding: 0 5%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap; }
  .products__products-list .product {
    display: flex;
    flex-direction: column;
    margin: 2.5rem 2rem; }
    .products__products-list .product__image {
      width: 16rem;
      height: 20rem;
      object-fit: cover;
      border-radius: 10px;
      border: 1px solid #2C2C2C; }
    .products__products-list .product__price {
      font-family: "Expletus Sans", cursive;
      font-size: 2.5rem;
      border-bottom: 1px solid #FF9211; }
