.cart
{
    width: 80%;
    min-height: $display-height;
    margin: 0 auto;
    padding: 40px 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;

    &__product
    {
        width: 400px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 25px 0;
    }

    &__image
    {
        width: 160px;
        height: 250px;
        border: 1px solid #2C2C2C;
        border-radius: 10px;
        object-fit: cover;
    }

    &__info
    {
        height: 250px;
        width: 200px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: column;
    }

    &__price
    {
        font-size: 2.5rem;
        font-family: $number-font;
        width: 100%;
        border-bottom: 1px solid $main-color;
    }

    &__description
    {
        display: flex;
        margin-top: -10px;
        width: fit-content;
    }

    &__brand
    {
        padding-right: 15px;
        position: relative;
        color: #313131;
        display: flex;
        align-items: center;

        &::after
        {
            content: '';
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 1px;
            height: 40px;
            background-color: black;
        }

    }

    &__name
    {
        padding-left: 15px;
    }

    &__size
    {
        background-color: $main-color;
        color: white;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        font-size: 1.9rem;
    }

    &__quantity
    {
        color: #636363;

        span
        {
            color: black;
        }
    }

    &__buttons
    {
        width: 200px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__add
    {
        width: 60%;
        height: 40px;
        background-color: $main-color;
        border-radius: 10px;
        color: white;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        cursor: pointer
    }

    &__remove
    {
        width: 35%;
        height: 40px;
        background-color: #d60e0e;
        border-radius: 10px;
        color: white;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        cursor: pointer
    }

    &__summary
    {
        position: fixed;
        right: 10%;
        top: 50%;
        transform: translateY(-50%);
        width: 180px;
        height: 230px;
        border: 1px solid $main-color;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
    }

    &__numbers
    {
        width: 100%;
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
    }

    &__total-sum
    {
        display: flex;
        align-items: center;
        flex-direction: column;
        color: #636363;

        span
        {
            padding-top: 5px;
            font-size: 2.4rem;
            font-family: $number-font;
        }

    }

    &__total-quantity
    {
        @extend .cart__total-sum
    }

    &__buy
    {
        width: 100%;
        height: 50px;
        background-color: $main-color;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: white;
        font-size: 2.5rem;
        border-radius: 0 0 10px 10px;
        cursor: pointer;
    }

    @media (min-width: 1440px)
    {
        &
        {
            width: 50%;
        }

        &__summary
        {
            right: 25%;
        }

    }

    @media (max-width: 768px)
    {
        &
        {
            flex-direction: column;
        }

        &__summary
        {
            position: static;
            transform: none;
            margin-top: 50px;
        }
    }


    @media (max-width: 500px)
    {
        &
        {
            width: 100%;
        }

        &__product
        {
            flex-direction: column;
            padding: 40px 0;
            border-bottom: 1px solid #4d4d4d;
            width: 300px;
        }

        &__info
        {
            padding: 10px 0;
            margin: 15px 0;
        }

        &__description
        {
            margin-top: -5px;
        }

    }

}