$header-font: 'Righteous', cursive;
$main-font: 'Metrophobic', sans-serif;
$number-font: 'Expletus Sans', cursive;
$main-color: #FF9211;
$display-height: calc(100vh - 110px);

html
{
    font-size: 62.5%;
    font-family: $main-font;
    width: 100%;
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul
{
    list-style-type: none;
}

a, p, span, div
{
    text-decoration: none;
    color: black;
    font-size: 1.8rem;
}

input, button
{
    outline: none;
    border: none;
    font-family: $main-font;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

h1
{
    font-size: 3rem;
}