.key__icon
{
    position: absolute;
    right: 10%;
    top: 100px;
    border-radius: 50%;
    border: 1px solid black;
    font-size: 4rem;
    padding: 5px;
    cursor: pointer;
}

.key__section
{
    position: absolute;
    width: 200px;
    height: 200px;
    right: 10%;
    top: 150px;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px;
    background-color: #c5c5c5;
    border-radius: 10px;

    .key__admin, .key__user
    {
        display: flex;
        flex-direction: column;
    }

    &--toggle
    {
        display: flex;
    }


}