.update
{
    @extend .register;
    
    &__form
    {
        @extend .register__form;
        height: 700px;
    }

    &__sizes
    {
        width: 223px;
    }

    &__sizes-container
    {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    &__size
    {
        width: fit-content;
        display: flex!important;
        align-items: center!important;
        flex-direction: row!important;
        justify-content: space-between!important;

        label
        {
            margin-left: 5px;
        }

    }

    &__image
    {
        width: 250px;
        font-size: 1.5rem!important;
    }

    &__submit
    {
        @extend .register__submit;
    }

}